{% extends 'receptionist/base.html' %}

{% block content %}
    <h1>{% block title %} Recherche de patient {% endblock %}</h1>
    <p>Laissez le champ vide et puis recherchez pour lister tous les patients</p>
    <form method="post">
        <label>Nom: </label>
        <input type="text" name="q">
        <button type="submit">Rechercher</button>
    </form>
    <br>
    {% if results is not none %}
        <div class="search_results">
            {% if not results|length %}
                <p>Aucun résultat</p>
            {% endif %}
            {% for patient in results %}
                <a href="{{ url_for('receptionist_modify_patient', patient_id=patient[0]) }}">{{ patient[1] }}</a><br>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}