{% extends 'dentist/base.html' %}

{% block content %}
    <h1>{% block title %} Accueil {% endblock %}</h1>
    <p>Accueil pour dentistes</p>
    <div class="prochainPatient">
        <h3>Prochains patients</h3>
        {% if appointments|length < 1 %}
            <p>Pas de rendez-vous à venir</p>
        {% endif %}
        {% for appointment in appointments %}
        <p>{{ appointment['date_rdv'] }} avec
            {% for patient in patients %}
                {% if patient['patient_id'] == appointment['patient_id'] %}
                    {{ patient['nom'] }}
                {% endif %}
            {% endfor %}
        </p>
        {% endfor %}
    </div>
{% endblock %}