{% extends 'dentist/base.html' %}

{% block content %}
    <h1>{% block title %} Recherche de patient {% endblock %}</h1>

    <form method="post">
        <label>Nom: </label>
        <input required type="text" name="q">
        <button type="submit">Rechercher</button>
    </form>
    <br>
    {% if results is not none %}
        <div class="search_results">
            {% if not results|length %}
                <p>Aucun résultat</p>
            {% endif %}
            {% for patient in results %}
                <a href="#">{{ patient[1] }}</a><br>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}