<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        En tant que:
        <a href="{{ url_for('patient_index') }}">Patient</a>
        {% if loggedInUser['is_receptionist'] %} <a href="{{ url_for('receptionist_index') }}">Receptioniste</a> {% endif %}
        {% if loggedInUser['is_dentist'] %} <a href="{{ url_for('dentist_index') }}">Dentiste/Hygiéniste</a> {% endif %}
        <a href="{{ url_for('logout') }}" style="text-align: right; float: right;">Fermer la session</a>
    </nav>
    <hr>
    <nav>
        {% block navbar %} {% endblock %}
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>